.App {
  color: #424846;
}

.App-header {
  padding: 15px 50px;
  min-height: 70vh;
  /* display: flex; */
  /* flex-direction: column; */
}

.App-link {
  color: #61dafb;
}

input {
  color: #424846;
  border: 1px solid #424846;
  border-radius: 2px;
}

input:focus {
  outline: 0;
  border-color: #424846;
  box-shadow:0px 0px 5px #00cc88;
}

.subtitle {
  background-color: #00cc88;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 30px;
  color: white;
}

.resetBtn {
  margin: 2% 5% 0 2%;
  cursor: pointer;
  background-color: white;
  color: #00cc88;
  font-weight: bold;
  border: 2px solid #00cc88;
  border-radius: 5px;
  height: 35px;
  width: 150px;
  outline: 0;
}
.resetBtn:hover {
  background-color: #00cc88;
  color: white;
}


.ruby {
  margin: 2px;
  font-size: 15px;
  height: 30px;
  width: 56px;
}

.kanji {
  margin: 2px;
  padding: 0 20px;
  font-size: 30px;
  height: 70px;
  width: 356px;
}

.ruby_j {
  margin: 2px;
  padding: 0 20px;
  font-size: 15px;
  height: 30px;
  width: 230px;
}

.jukuji {
  margin: 2px;
  padding: 0 20px;
  font-size: 30px;
  height: 70px;
  width: 230px;
}

.rubyContent {
  min-height: 300px;
  border: 1px solid #424846;
  border-radius: 5px;
  padding: 30px 30px;
}

.historyContent {
  min-height: 100px;
  border: 1px solid #424846;
  border-radius: 5px;
  padding: 5px 30px;
}

.form {
  display: inline-block;
  margin: 0 2%;
}

.logList {
  margin-right: 20px;
}
.logList:hover {
  color:#00cc88;
  border-bottom: 1px solid #00cc88;
  cursor: pointer;
}

.logList_delete {
  margin-right: 20px;
}
.logList_delete:hover {
  color: red;
  border-bottom: 1px solid red;
  cursor: pointer;
}

.deleteBtn {
  display: inline;
  float: right;
  margin: 30px;
  cursor: pointer;
  background-color: white;
  color: #00cc88;
  font-weight: bold;
  border: 2px solid #00cc88;
  border-radius: 5px;
  height: 32px;
  width: 150px;
  outline: 0;
}

.wordNote {
  font-size: 12px;
}