.App {
  color: #424846;
}

.contents {
  padding: 1% 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.messageModal {
  border: 2px solid;
  border-radius: 5px;
  padding: 5%;
  white-space: pre-line;
}

input {
  color: #424846;
  border: 1.5px solid #a0a0a0;
  border-radius: 2px;
}

input:focus {
  outline: 0;
  border-color: #00cc88;
  box-shadow:0px 0px 3px #00cc88;
}
::placeholder {
  color: #7a7c7b;
  font-weight: bold;
}

.title {
  background-color: #00cc88;
  padding: 20px 30px;
  color: white;
}


.resetBtn {
  margin: 20px 20px 0 10px;
  cursor: pointer;
  background-color: white;
  color: #00cc88;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #00cc88;
  border-radius: 5px;
  height: 32px;
  width: 150px;
  outline: 0;
}
.resetBtn:hover {
  background-color: #00cc88;
  color: white;
}

.copyBtn {
  height: 40px;
  width: 130px;
}

/* 漢字、熟字、検索の入力欄 */
.kanji, .jukuji, .searchInput {
  margin-top: 15px;
  padding: 0 10px;
  font-size: 25px;
  height: 70px;
  width: 100%;
}

.ruby {
  margin: 1% 0.15%;
  font-size: 12px;
  height: 30px;
  width: 12.2%;
}

.ruby_j {
  margin: 1% 0;
  padding: 0 10px;
  font-size: 13px;
  height: 30px;
  width: 100%;
}

.rubyText {
  font-size: 12px;
}

.rubyContent {
  min-height: 450px;
}

.historyContent {
  min-height: 250px;
}

.logList {
  color: #7a7c7b;
}
.logList:hover {
  color:#00cc88;
  cursor: pointer;
}

.logList_delete {
  color: #7a7c7b;
}
.logList_delete:hover {
  color: #ff5555;
  border-bottom: 1px solid #ff5555;
  cursor: pointer;
}

.deleteBtn {
  float: right;
  cursor: pointer;
  background-color: white;
  color: #00cc88;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #00cc88;
  border-radius: 5px;
  height: 32px;
  width: 150px;
  outline: 0;
}
.deleteBtn:hover {
  background-color: #00cc88;
  color: white;
}

/* 正規表現部 */
.regexInput {
  display: block;
  margin: 0 auto;
  padding: 0 10%;
  font-size: 1.1rem;
  height: 50px;
  width: 95%;
}